<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.persistence.app.dao.mysql.job.JobPositionMapper">

    <resultMap id="BaseResultMap" type="com.sc.persistence.app.dao.dataobject.job.JobPositionDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="prentId" column="prent_id" jdbcType="BIGINT"/>
            <result property="positionName" column="position_name" jdbcType="VARCHAR"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updater" column="updater" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,prent_id,position_name,
        creator,create_time,updater,
        update_time,deleted
    </sql>
</mapper>
